# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
*.log

# Environment
.env

# Cypress outputs
frontend/cypress/videos/
frontend/cypress/screenshots/

# OS/IDE junk
.DS_Store
.vscode/
